<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">
    <servlet>
        <servlet-name>avatar</servlet-name>
        <servlet-class>com.utopia.AvatarServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>avatar_image</servlet-name>
        <servlet-class>com.utopia.AvatarImageServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>game</servlet-name>
        <servlet-class>com.utopia.GameServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>map</servlet-name>
        <servlet-class>com.utopia.MapServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>map_image</servlet-name>
        <servlet-class>com.utopia.MapImageServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>session</servlet-name>
        <servlet-class>com.utopia.SessionServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>tile</servlet-name>
        <servlet-class>com.utopia.TileServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>tile_image</servlet-name>
        <servlet-class>com.utopia.TileImageServlet</servlet-class>
    </servlet>    

    <servlet>
        <servlet-name>tile_connector</servlet-name>
        <servlet-class>com.utopia.TileConnectorServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>avatar</servlet-name>
        <url-pattern>/api/v0/avatar.json</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>avatar_image</servlet-name>
        <url-pattern>/api/v0/avatar.png</url-pattern>
    </servlet-mapping>        
    
    <servlet-mapping>
        <servlet-name>map</servlet-name>
        <url-pattern>/api/v0/map.json</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>map_image</servlet-name>
        <url-pattern>/api/v0/map.png</url-pattern>
    </servlet-mapping>    

    <servlet-mapping>
        <servlet-name>session</servlet-name>
        <url-pattern>/api/v0/session.json</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>tile</servlet-name>
        <url-pattern>/api/v0/tile.json</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>tile_connector</servlet-name>
        <url-pattern>/api/v0/tile_connector.json</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>tile_image</servlet-name>
        <url-pattern>/api/v0/tile.png</url-pattern>
    </servlet-mapping>    
    
    <servlet-mapping>
        <servlet-name>game</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
