<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">
    <servlet>
        <servlet-name>game</servlet-name>
        <servlet-class>com.utopia.GameServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>map</servlet-name>
        <servlet-class>com.utopia.MapServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>map</servlet-name>
        <url-pattern>/api/v0/map.json</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>game</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
